JustStay.Web/Service References/CustomerServiceReference/CustomerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsGuest" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDto" nillable="true" type="tns:CustomerDto" />
  <xs:complexType name="CustomerRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerRequestId" type="xs:int" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertedOn" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerRequestDTO" nillable="true" type="tns:CustomerRequestDTO" />
</xs:schema>