JustStay.Web/Service References/CustomerServiceReference/CustomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JustStay.Repo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustStay.Repo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsGuest" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDetail" nillable="true" type="tns:CustomerDetail" />
  <xs:complexType name="ArrayOfGetAllCustomersDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllCustomersDetails" nillable="true" type="tns:GetAllCustomersDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllCustomersDetails" nillable="true" type="tns:ArrayOfGetAllCustomersDetails" />
  <xs:complexType name="GetAllCustomersDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllCustomersDetails" nillable="true" type="tns:GetAllCustomersDetails" />
  <xs:complexType name="ArrayOfCustomerRequestDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerRequestDetail" nillable="true" type="tns:CustomerRequestDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerRequestDetail" nillable="true" type="tns:ArrayOfCustomerRequestDetail" />
  <xs:complexType name="CustomerRequestDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerRequestId" type="xs:int" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerRequestDetail" nillable="true" type="tns:CustomerRequestDetail" />
</xs:schema>