JustStay.Web/Service References/FAQServiceReference/FAQService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFAQDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FAQDto" nillable="true" type="tns:FAQDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFAQDto" nillable="true" type="tns:ArrayOfFAQDto" />
  <xs:complexType name="FAQDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAQAudienceId" type="xs:int" />
      <xs:element minOccurs="0" name="FAQId" type="xs:int" />
      <xs:element minOccurs="0" name="InsertedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FAQDto" nillable="true" type="tns:FAQDto" />
</xs:schema>