JustStay.Web/Service References/FAQServiceReference/FAQService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FAQService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56178/FAQService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56178/FAQService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56178/FAQService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFAQService_GetFAQByAudience_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFAQByAudience" />
  </wsdl:message>
  <wsdl:message name="IFAQService_GetFAQByAudience_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFAQByAudienceResponse" />
  </wsdl:message>
  <wsdl:message name="IFAQService_GetFAQById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFAQById" />
  </wsdl:message>
  <wsdl:message name="IFAQService_GetFAQById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFAQByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFAQService_InsertFAQ_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFAQ" />
  </wsdl:message>
  <wsdl:message name="IFAQService_InsertFAQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFAQResponse" />
  </wsdl:message>
  <wsdl:message name="IFAQService_UpdateFAQ_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFAQ" />
  </wsdl:message>
  <wsdl:message name="IFAQService_UpdateFAQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFAQResponse" />
  </wsdl:message>
  <wsdl:message name="IFAQService_DeleteFAQ_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFAQ" />
  </wsdl:message>
  <wsdl:message name="IFAQService_DeleteFAQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFAQResponse" />
  </wsdl:message>
  <wsdl:portType name="IFAQService">
    <wsdl:operation name="GetFAQByAudience">
      <wsdl:input wsaw:Action="http://tempuri.org/IFAQService/GetFAQByAudience" message="tns:IFAQService_GetFAQByAudience_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFAQService/GetFAQByAudienceResponse" message="tns:IFAQService_GetFAQByAudience_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFAQById">
      <wsdl:input wsaw:Action="http://tempuri.org/IFAQService/GetFAQById" message="tns:IFAQService_GetFAQById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFAQService/GetFAQByIdResponse" message="tns:IFAQService_GetFAQById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFAQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IFAQService/InsertFAQ" message="tns:IFAQService_InsertFAQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFAQService/InsertFAQResponse" message="tns:IFAQService_InsertFAQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFAQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IFAQService/UpdateFAQ" message="tns:IFAQService_UpdateFAQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFAQService/UpdateFAQResponse" message="tns:IFAQService_UpdateFAQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFAQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IFAQService/DeleteFAQ" message="tns:IFAQService_DeleteFAQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFAQService/DeleteFAQResponse" message="tns:IFAQService_DeleteFAQ_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFAQService" type="tns:IFAQService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFAQByAudience">
      <soap:operation soapAction="http://tempuri.org/IFAQService/GetFAQByAudience" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFAQById">
      <soap:operation soapAction="http://tempuri.org/IFAQService/GetFAQById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFAQ">
      <soap:operation soapAction="http://tempuri.org/IFAQService/InsertFAQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFAQ">
      <soap:operation soapAction="http://tempuri.org/IFAQService/UpdateFAQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFAQ">
      <soap:operation soapAction="http://tempuri.org/IFAQService/DeleteFAQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FAQService">
    <wsdl:port name="BasicHttpBinding_IFAQService" binding="tns:BasicHttpBinding_IFAQService">
      <soap:address location="http://localhost:56178/FAQService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>