JustStay.ATRC/Service References/RCBServiceReference/RestChairBookingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/JustStay.Repo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustStay.Repo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56178/RestChairBookingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetBookingDetailsByBookingId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATRCNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amenities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookedChair" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookedChairNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CGST" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cuisines" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiningFromTime" type="ser:duration" />
      <xs:element minOccurs="0" name="DiningToTime" type="ser:duration" />
      <xs:element minOccurs="0" name="Discount" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="GST" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hour" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantTxnId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="OTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RCPaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="RestChairBookingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SGST" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="highlights" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razorpay_payment_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razorpay_signature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBookingDetailsByBookingId" nillable="true" type="tns:GetBookingDetailsByBookingId" />
  <xs:complexType name="ArrayOfGetAllBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllBooking" nillable="true" type="tns:GetAllBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllBooking" nillable="true" type="tns:ArrayOfGetAllBooking" />
  <xs:complexType name="GetAllBooking">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATRCId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chairs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestChairBookingId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllBooking" nillable="true" type="tns:GetAllBooking" />
  <xs:complexType name="ArrayOfGetRestChairBookingByATRC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetRestChairBookingByATRC" nillable="true" type="tns:GetRestChairBookingByATRC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetRestChairBookingByATRC" nillable="true" type="tns:ArrayOfGetRestChairBookingByATRC" />
  <xs:complexType name="GetRestChairBookingByATRC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCId" type="xs:int" />
      <xs:element minOccurs="0" name="ATRCPaystatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chairs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paydate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RCPaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="RestChairBookingId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRestChairBookingByATRC" nillable="true" type="tns:GetRestChairBookingByATRC" />
  <xs:complexType name="ArrayOfGetAllCustomerByATRC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllCustomerByATRC" nillable="true" type="tns:GetAllCustomerByATRC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllCustomerByATRC" nillable="true" type="tns:ArrayOfGetAllCustomerByATRC" />
  <xs:complexType name="GetAllCustomerByATRC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCId" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllCustomerByATRC" nillable="true" type="tns:GetAllCustomerByATRC" />
  <xs:complexType name="ArrayOfGetCustomerBookingsByATRC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetCustomerBookingsByATRC" nillable="true" type="tns:GetCustomerBookingsByATRC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetCustomerBookingsByATRC" nillable="true" type="tns:ArrayOfGetCustomerBookingsByATRC" />
  <xs:complexType name="GetCustomerBookingsByATRC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CGST" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Hour" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MerchantTxnId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SGST" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ToTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerBookingsByATRC" nillable="true" type="tns:GetCustomerBookingsByATRC" />
  <xs:complexType name="ArrayOfGetAllPaymentByCustomerId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllPaymentByCustomerId" nillable="true" type="tns:GetAllPaymentByCustomerId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllPaymentByCustomerId" nillable="true" type="tns:ArrayOfGetAllPaymentByCustomerId" />
  <xs:complexType name="GetAllPaymentByCustomerId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCId" type="xs:int" />
      <xs:element minOccurs="0" name="ATRCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllPaymentByCustomerId" nillable="true" type="tns:GetAllPaymentByCustomerId" />
  <xs:complexType name="ArrayOfGetAllBookingByCustomerId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllBookingByCustomerId" nillable="true" type="tns:GetAllBookingByCustomerId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllBookingByCustomerId" nillable="true" type="tns:ArrayOfGetAllBookingByCustomerId" />
  <xs:complexType name="GetAllBookingByCustomerId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATRCId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chairs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="FromTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PayStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestChairBookingId" type="xs:int" />
      <xs:element minOccurs="0" name="ToTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllBookingByCustomerId" nillable="true" type="tns:GetAllBookingByCustomerId" />
  <xs:complexType name="ArrayOfGetBookingForCancelByCustomerId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetBookingForCancelByCustomerId" nillable="true" type="tns:GetBookingForCancelByCustomerId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetBookingForCancelByCustomerId" nillable="true" type="tns:ArrayOfGetBookingForCancelByCustomerId" />
  <xs:complexType name="GetBookingForCancelByCustomerId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATRCId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chairs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="FromTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PayStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestChairBookingId" type="xs:int" />
      <xs:element minOccurs="0" name="ToTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBookingForCancelByCustomerId" nillable="true" type="tns:GetBookingForCancelByCustomerId" />
</xs:schema>