JustStay.Web/Service References/RCRefundServiceReference/RCRefundService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RefundDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="InsertedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RCPaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="RCRefundPaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="RefundAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="RefundDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RestChairBookingId" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="razor_refund_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefundDto" nillable="true" type="tns:RefundDto" />
</xs:schema>