JustStay.ATRC/Service References/ATRCBookingServiceReference/ATRCBookingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56178/ATRCBookingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JustStay.Repo" />
  <xs:element name="GetATRCBookingsByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetATRCBookingsByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JustStay.Repo" minOccurs="0" name="GetATRCBookingsByCustomerResult" nillable="true" type="q1:ArrayOfCust_ATRCBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForRestChairAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="atrcId" type="xs:int" />
        <xs:element minOccurs="0" name="persons" type="xs:int" />
        <xs:element minOccurs="0" name="fromTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="hours" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForRestChairAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckForRestChairAvailabilityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>