JustStay.Web/Service References/BlogServiceReference/BlogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56178/BlogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56178/BlogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56178/BlogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" />
      <xsd:import schemaLocation="http://localhost:56178/BlogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JustStay.Repo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlogService_GetBlogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogs" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogsResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogsWithDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogsWithDetail" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogsWithDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogsWithDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogById" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_InsertBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBlog" />
  </wsdl:message>
  <wsdl:message name="IBlogService_InsertBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_UpdateBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlog" />
  </wsdl:message>
  <wsdl:message name="IBlogService_UpdateBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_UpdateBlogImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlogImage" />
  </wsdl:message>
  <wsdl:message name="IBlogService_UpdateBlogImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlogImageResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_DeletBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletBlog" />
  </wsdl:message>
  <wsdl:message name="IBlogService_DeletBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogCategories" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlogService">
    <wsdl:operation name="GetBlogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/GetBlogs" message="tns:IBlogService_GetBlogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/GetBlogsResponse" message="tns:IBlogService_GetBlogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogsWithDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/GetBlogsWithDetail" message="tns:IBlogService_GetBlogsWithDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/GetBlogsWithDetailResponse" message="tns:IBlogService_GetBlogsWithDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/GetBlogById" message="tns:IBlogService_GetBlogById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/GetBlogByIdResponse" message="tns:IBlogService_GetBlogById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/InsertBlog" message="tns:IBlogService_InsertBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/InsertBlogResponse" message="tns:IBlogService_InsertBlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/UpdateBlog" message="tns:IBlogService_UpdateBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/UpdateBlogResponse" message="tns:IBlogService_UpdateBlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBlogImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/UpdateBlogImage" message="tns:IBlogService_UpdateBlogImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/UpdateBlogImageResponse" message="tns:IBlogService_UpdateBlogImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/DeletBlog" message="tns:IBlogService_DeletBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/DeletBlogResponse" message="tns:IBlogService_DeletBlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/GetBlogCategories" message="tns:IBlogService_GetBlogCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/GetBlogCategoriesResponse" message="tns:IBlogService_GetBlogCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBlogService" type="tns:IBlogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBlogs">
      <soap:operation soapAction="http://tempuri.org/IBlogService/GetBlogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogsWithDetail">
      <soap:operation soapAction="http://tempuri.org/IBlogService/GetBlogsWithDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogById">
      <soap:operation soapAction="http://tempuri.org/IBlogService/GetBlogById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBlog">
      <soap:operation soapAction="http://tempuri.org/IBlogService/InsertBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBlog">
      <soap:operation soapAction="http://tempuri.org/IBlogService/UpdateBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBlogImage">
      <soap:operation soapAction="http://tempuri.org/IBlogService/UpdateBlogImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletBlog">
      <soap:operation soapAction="http://tempuri.org/IBlogService/DeletBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogCategories">
      <soap:operation soapAction="http://tempuri.org/IBlogService/GetBlogCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogService">
    <wsdl:port name="BasicHttpBinding_IBlogService" binding="tns:BasicHttpBinding_IBlogService">
      <soap:address location="http://localhost:56178/BlogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>