JustStay.Web/Service References/BlogServiceReference/BlogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JustStay.Repo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustStay.Repo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBlogWithDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogWithDetail" nillable="true" type="tns:BlogWithDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogWithDetail" nillable="true" type="tns:ArrayOfBlogWithDetail" />
  <xs:complexType name="BlogWithDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlogCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="BlogContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlogDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BlogId" type="xs:int" />
      <xs:element minOccurs="0" name="BlogImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlogImageNewName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlogTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogWithDetail" nillable="true" type="tns:BlogWithDetail" />
</xs:schema>