JustStay.Web/Service References/BlogServiceReference/BlogService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56178/BlogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" />
  <xs:import schemaLocation="http://localhost:56178/BlogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JustStay.Repo" />
  <xs:element name="GetBlogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blogCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="GetBlogsResult" nillable="true" type="q1:ArrayOfBlogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogsWithDetail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogsWithDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JustStay.Repo" minOccurs="0" name="GetBlogsWithDetailResult" nillable="true" type="q2:ArrayOfBlogWithDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="GetBlogByIdResult" nillable="true" type="q3:BlogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="blogDto" nillable="true" type="q4:BlogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBlogResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="blogDto" nillable="true" type="q5:BlogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBlogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBlogImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="blogDto" nillable="true" type="q6:BlogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBlogImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletBlogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="GetBlogCategoriesResult" nillable="true" type="q7:ArrayOfBlogCatgoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>