JustStay.ATRC/Service References/DashboardServiceReference/DashboardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DashboardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56178/DashboardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56178/DashboardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56178/DashboardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JustStay.Repo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDashboardService_GetAdminDashboardDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminDashboardDetails" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetAdminDashboardDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminDashboardDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetTodayBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodayBooking" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetTodayBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodayBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetATRCDashboardDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetATRCDashboardDetails" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetATRCDashboardDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetATRCDashboardDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetATRCTodayBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetATRCTodayBooking" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetATRCTodayBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetATRCTodayBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="IDashboardService">
    <wsdl:operation name="GetAdminDashboardDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/GetAdminDashboardDetails" message="tns:IDashboardService_GetAdminDashboardDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/GetAdminDashboardDetailsResponse" message="tns:IDashboardService_GetAdminDashboardDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTodayBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/GetTodayBooking" message="tns:IDashboardService_GetTodayBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/GetTodayBookingResponse" message="tns:IDashboardService_GetTodayBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetATRCDashboardDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/GetATRCDashboardDetails" message="tns:IDashboardService_GetATRCDashboardDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/GetATRCDashboardDetailsResponse" message="tns:IDashboardService_GetATRCDashboardDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetATRCTodayBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/GetATRCTodayBooking" message="tns:IDashboardService_GetATRCTodayBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/GetATRCTodayBookingResponse" message="tns:IDashboardService_GetATRCTodayBooking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDashboardService" type="tns:IDashboardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdminDashboardDetails">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/GetAdminDashboardDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodayBooking">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/GetTodayBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetATRCDashboardDetails">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/GetATRCDashboardDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetATRCTodayBooking">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/GetATRCTodayBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DashboardService">
    <wsdl:port name="BasicHttpBinding_IDashboardService" binding="tns:BasicHttpBinding_IDashboardService">
      <soap:address location="http://localhost:56178/DashboardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>