JustStay.ATRC/Service References/DashboardServiceReference/DashboardService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JustStay.Repo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustStay.Repo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetAdminDashboardDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalATRC" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalATRCCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalBooking" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalBookingAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCustomer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalJSCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalOfflineBooking" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalOnlineBooking" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalOnlineBookingAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalPayATRCBookingAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalTodayBooking" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAdminDashboardDetails" nillable="true" type="tns:GetAdminDashboardDetails" />
  <xs:complexType name="ArrayOfGetTodaysBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTodaysBooking" nillable="true" type="tns:GetTodaysBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTodaysBooking" nillable="true" type="tns:ArrayOfGetTodaysBooking" />
  <xs:complexType name="GetTodaysBooking">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCId" type="xs:int" />
      <xs:element minOccurs="0" name="ATRCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestChairBookingId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTodaysBooking" nillable="true" type="tns:GetTodaysBooking" />
  <xs:complexType name="GetATRCDashboardDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalATRCCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalBooking" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalBookingAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalOfflineBooking" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalOnlineBooking" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalOnlineBookingAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalPayATRCBookingAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalTodayBooking" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetATRCDashboardDetails" nillable="true" type="tns:GetATRCDashboardDetails" />
  <xs:complexType name="ArrayOfGetATRCTodaysBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetATRCTodaysBooking" nillable="true" type="tns:GetATRCTodaysBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetATRCTodaysBooking" nillable="true" type="tns:ArrayOfGetATRCTodaysBooking" />
  <xs:complexType name="GetATRCTodaysBooking">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCId" type="xs:int" />
      <xs:element minOccurs="0" name="ATRCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestChairBookingId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetATRCTodaysBooking" nillable="true" type="tns:GetATRCTodaysBooking" />
</xs:schema>