JustStay.Web/Service References/CommonServiceReference/CommonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JustStay.Repo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustStay.Repo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="State" nillable="true" type="tns:State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfState" nillable="true" type="tns:ArrayOfState" />
  <xs:complexType name="State">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameWithCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="InsertedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="InsertedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfATRCCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ATRCCategory" nillable="true" type="tns:ATRCCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfATRCCategory" nillable="true" type="tns:ArrayOfATRCCategory" />
  <xs:complexType name="ATRCCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ATRCCategory" nillable="true" type="tns:ATRCCategory" />
  <xs:complexType name="ArrayOfATRCSubCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ATRCSubCategory" nillable="true" type="tns:ATRCSubCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfATRCSubCategory" nillable="true" type="tns:ArrayOfATRCSubCategory" />
  <xs:complexType name="ATRCSubCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ATRCSubCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="InsertedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ATRCSubCategory" nillable="true" type="tns:ATRCSubCategory" />
  <xs:complexType name="ArrayOfLocalities">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Localities" nillable="true" type="tns:Localities" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalities" nillable="true" type="tns:ArrayOfLocalities" />
  <xs:complexType name="Localities">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Localities" nillable="true" type="tns:Localities" />
  <xs:complexType name="ArrayOfATRCType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ATRCType" nillable="true" type="tns:ATRCType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfATRCType" nillable="true" type="tns:ArrayOfATRCType" />
  <xs:complexType name="ATRCType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ATRCType" nillable="true" type="tns:ATRCType" />
</xs:schema>