JustStay.ATRC/Service References/RCRefundServiceReference/RCRefundService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/JustStay.Repo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustStay.Repo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56178/RCRefundService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfGetAllCancelledBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllCancelledBooking" nillable="true" type="tns:GetAllCancelledBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllCancelledBooking" nillable="true" type="tns:ArrayOfGetAllCancelledBooking" />
  <xs:complexType name="GetAllCancelledBooking">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ATRCDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATRCId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="FromTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="IsCancel" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRefund" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="JustStayCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaidAmtfromRazor" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PayStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RCPaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="RefundAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RestChairBookingId" type="xs:int" />
      <xs:element minOccurs="0" name="ToTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalRazorFees" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="order_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razorpay_payment_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllCancelledBooking" nillable="true" type="tns:GetAllCancelledBooking" />
  <xs:complexType name="ArrayOfGetAllRefunds">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllRefunds" nillable="true" type="tns:GetAllRefunds" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllRefunds" nillable="true" type="tns:ArrayOfGetAllRefunds" />
  <xs:complexType name="GetAllRefunds">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATRCCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ATRCId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="FromTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="IsCancel" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRefund" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="JustStayCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaidAmtfromRazor" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RCPaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="RCRefundPaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="RefundAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RefundDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RestChairBookingId" type="xs:int" />
      <xs:element minOccurs="0" name="ToTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalRazorFees" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="order_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razor_refund_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razorpay_payment_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllRefunds" nillable="true" type="tns:GetAllRefunds" />
</xs:schema>