JustStay.ATRC/Service References/ErrorLogServiceReference/ErrorLogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorLogDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logid" type="xs:int" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eventname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pagename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorLogDto" nillable="true" type="tns:ErrorLogDto" />
</xs:schema>