JustStay.Web/Service References/CancellationPolicyServiceReference/CancellationPolicyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56178/CancellationPolicyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" />
  <xs:element name="GetAllCancellationPolicies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCancellationPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="GetAllCancellationPoliciesResult" nillable="true" type="q1:ArrayOfCancellationPolicyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCancellationPolicyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taxId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCancellationPolicyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="GetCancellationPolicyByIdResult" nillable="true" type="q2:CancellationPolicyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="tax" nillable="true" type="q3:CancellationPolicyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPolicyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="policyDto" nillable="true" type="q4:CancellationPolicyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePolicyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePolicyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrivacyPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="ppDto" nillable="true" type="q5:PrivacyPolicyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrivacyPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePrivacyPolicyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivacyPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivacyPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JustStay.Services.DTO" minOccurs="0" name="GetPrivacyPolicyResult" nillable="true" type="q6:PrivacyPolicyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>